.action_bar.ig_container {
    z-index: 100000;
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;
    left: 0;    
}

.action_bar.ig_container.top {
}

.action_bar.ig_container.bottom {
}

.action_bar .ig_content {
    color: #FFF;
}

.action_bar.hello .ig_headline {
}

.action_bar .ig_message {
    line-height: 1.3em;
}

.action_bar img.icon {
    width: 50px;
}

.action_bar .ig_data {
}

.action_bar .ig_button, 
.action_bar input[type="submit"], 
.action_bar input[type="button"] {
    border-bottom : none;
    cursor: pointer;
}
.action_bar .ig_button:active, 
.action_bar input[type="submit"]:active, 
.action_bar input[type="button"]:active {
    border-top : none;
}

.action_bar .ig_close {
    cursor: pointer;
}

.action_bar .powered_by {
	vertical-align: top;
	opacity: .5;
	display: inline-block;
    float: left;
}

.action_bar .powered_by img {
    width: 2em;
    margin-left: 1em;
    margin-top: 1em;
}

.action_bar .ig_arrow_block {
    font-weight: 700;
    z-index: 100000;
    right: 10px;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
    line-height: 0;
    padding: 4px !important;
    float: right;
}

.action_bar .ig_arrow_block span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.action_bar .ig_arrow_block span:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
}
.action_bar .rotate {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 
    -webkit-transform:rotate(180deg); 
}
.action_bar .ig_arrow_block span{
    cursor: pointer;
    display: inline-block;
    padding: 2px;
    overflow: hidden;
}
.action_bar.top .ig_arrow_block span , .action_bar.bottom .ig_arrow_block span {
    background-image: url(../../assets/images/arrows-sprite.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
}

.action_bar.top .ig_arrow_block span { 
    background-position: -2px -5px;
}
.action_bar.bottom .ig_arrow_block span {
    background-position: -4px -5px;
}

div.icegram .action_bar form {
    margin: 0;
    padding: 0;
}
div.icegram .action_bar input, div.icegram .action_bar label {
    display: inline-block;
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
   .icegram .action_bar .ig_button{
     margin: .4em !important;
   }
}