.popup.ig_container {
    opacity: 1;
    display: block;
    z-index: 100000;
}

.popup.ig_container, .popup.ig_container .ig_content {
    background-color: transparent !important;
}

.popup .ig_headline {
    text-decoration: none;
    font-weight: 800;
    line-height: 1em;
}

.popup .ig_data {
    overflow-y: auto;
}

.popup .ig_image {
    margin: 0 1em;
}

.popup .ig_message {
    line-height: 1.2em;
}

.popup .ig_close {
    background-image: url(../popup/images/popup-close.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 32px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    -webkit-background-size: 100%;
    background-size: 100%;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.popup .ig_close:hover {
    background-position: left top;    
}

.popup .ig_button, .popup input[type="submit"], .popup input[type="button"] {
    cursor: pointer;
    display: block;
}

.popup .ig_button:hover, .popup input[type="submit"]:hover, .popup input[type="button"]:hover {

}

.popup #TB_ajaxContent {
    overflow: hidden;
    height: auto !important;
    width: auto !important;
}

.popup#TB_window {
    height: auto !important;
}

.TB_overlayBG .powered_by {
    position: fixed;
    bottom: 1em;
    left: 1em;
    font-size: 14px;
    padding: 0.1em;
}

div.icegram .popup input[type="submit"], div.icegram .popup input[type="button"] {
    font-size: 100%;
}