.messenger.social.ig_container {
    width: 250px;
    height: 260px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.messenger.social .ig_content {

}

.messenger.social .ig_header {
    background-color: #627BAE;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 39, 121, 0.76);
    border-bottom: none;
    -webkit-border-top-left-radius: 1px 1px;
    -moz-border-radius-topleft: 1px 1px;
    border-top-left-radius: 1px 1px;
    -webkit-border-top-right-radius: 1px 1px;
    -moz-border-radius-topright: 1px 1px;
    border-top-right-radius: 1px 1px;
    height: 26px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #FFF;
    font-weight: 400;
    line-height: 18px;
}

.messenger.social .ig_header_image {
    position: absolute;
    height: 25px;
    vertical-align: top;
    background-image: url(../images/social-img.png);
    background-repeat: no-repeat;
    background-position: -92px -332px;
    border: 0;
    right: 20px;
    top: 2px;
    margin-right: 3px;
    width: 21px;
}

.messenger.social .ig_header_text {
    font-size: 11px;
    vertical-align: top;
    zoom: 1;
    margin: 3px 7px 4px;
}

.messenger.social .ig_headline {
    margin-left: 5px;
    margin-right: 40px;
    line-height: 20px;
    width:195px;
    text-overflow:ellipsis;
}

.messenger.social .ig_header2_image {
    display: none;
}

.messenger.social .ig_body {
    right: 0;
    bottom: 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 194px;
    overflow-y: auto;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 12px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    color: #3e454c;
    line-height: 1.28;
    text-align: left;
    position: relative;
    border-width: 0 1px;
    background-color: #edeff4;
}

.messenger.social .ig_message {
    background-color: #F7F7F7;
    background-image: -webkit-gradient(linear, center bottom, center top, from(#F2F2F2), to(#FFF));
    background-image: -webkit-linear-gradient(bottom, #F2F2F2, #FFF);
    margin-left: 10px;
    padding: 4px 6px 3px 5px;
    border: 1px solid rgba(0, 0, 0, .18);
    border-bottom-color: rgba(0, 0, 0, .29);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #DCE0E6;
    color: #3E454C;
    line-height: 1.28;
    min-height: 14px;
    position: relative;
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    width: 170px;
}

.messenger.social .ig_message:after {
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    left: 0;
    margin: 0 0 0 -12px;
    border: 6px solid #FAFAFA;
    border-color: rgba(0, 0, 0, 0) #FAFAFA rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.messenger.social .ig_message:before {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    margin: 0 0 0 -16px;
    border: 8px solid #DFDFDF;
    border-color: rgba(0, 0, 0, 0) #DFDFDF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.messenger.social .ig_no_icon.ig_message {
    width: 91%;
}

.messenger.social .ig_no_icon.ig_message:after,
.messenger.social .ig_no_icon.ig_message:before {
    content: none;
}

.messenger.social .ig_separator {
    display: none;
}

.messenger.social .ig_footer {
    right: 0;
    bottom: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid #C9D0DA;
    max-height: 77px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 11px;
    color: #333;
    line-height: 1.28;
    padding: 5px 23px 3px 5px;
}

.messenger.social .ig_footer_image {
    background-image: url(../images/social-img.png);
    background-position: -269px -137px;
    width: 24px;
    height: 24px;
    left: 221px;
}

.messenger.social .ig_close {
    background-image: url(../images/social-img.png);
    background-position: -137px -332px;
    right: 0;
    top: 2px;
    margin-right: 3px;
    width: 21px;
    height: 25px;
    vertical-align: top;
}


.messenger.social .powered_by {
    top: -16px;
    left: 130px;
}

.messenger.social .ig_icon {
    border-radius: 2px;
}