.ig_popup.air-mail.ig_container {
    position: relative;
    color: hsl(0, 100%, 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    padding: 1em 0.5em;
}

.ig_popup.air-mail .ig_headline {
    margin-bottom: .5em;
    font-size: 2.5em;
    text-align: center;
    color: hsl(206, 69%, 47%);
    text-shadow: 0 1px 0 #FFF;
}

.ig_popup.air-mail .ig_image {
    float: right;
}

.ig_popup.air-mail .ig_data {
    padding: .9em;
}
.ig_popup.air-mail .ig_message {
    color: hsl(0, 0%, 44%);
    font-size: 1.2em;
    margin-bottom: 1em;
    padding: 0 .5em;
}

.ig_popup.air-mail .ig_close {
    background: url(../images/chosen-sprite.png) no-repeat -43px 0;
    height: 10px;
    width: 10px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    zoom: 1.5;
    margin: 5px;
}

.ig_popup.air-mail .ig_button,
 div.ig_popup.air-mail input[type="submit"],
 div.ig_popup.air-mail input[type="button"] {
    background: hsl(6, 78%, 57%) !important;
    width: 50% !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-top: 3px solid transparent !important;
    border-bottom: 3px solid transparent !important;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 0.4em auto 0 auto;
    padding: 16px 3px 13px;
}

.ig_popup.air-mail .ig_button:hover,
div.ig_popup.air-mail input[type="submit"]:hover,
div.ig_popup.air-mail input[type="button"]:hover {
    border-top: 3px solid hsl(6, 63%, 46%) !important;
    border-bottom: 3px solid #c0392b !important;
}

.ig_popup.air-mail .ig_button:active,
div.ig_popup.air-mail input[type="submit"]:active,
div.ig_popup.air-mail input[type="button"]:active{
    border-top: none;
}

.ig_popup.air-mail.ig_container{
    position: relative;
    display: block;
    margin: 0; 
    background: #F2F2F2;
    background-image: -moz-linear-gradient(bottom, #e5e5e5 0%, #f7f7f7 100%);
    background-image: -o-linear-gradient(bottom, #e5e5e5 0%, #f7f7f7 100%);
    background-image: -webkit-linear-gradient(bottom, #e5e5e5 0%, #f7f7f7 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e5e5e5 0%), color-stop(1, #f7f7f7 100%));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#e5e5e5 0%, EndColorStr=#f7f7f7 100%)";
    background-image: linear-gradient(bottom, #e5e5e5 0%, #f7f7f7 100%);
}

.ig_popup.air-mail.mfp-content {
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    padding: 8px;
    border: 0;
}

.ig_popup.air-mail.mfp-content:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    background: #D1D1D1;
    background: repeating-linear-gradient(45deg, #b37b7a, #b37b7a 10px, transparent 10px, transparent 20px, #7897ba 20px, #7897ba 30px, transparent 30px, transparent 40px);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    content: "";
}


@media only screen and (max-device-width: 319px) {
    .ig_popup.air-mail .ig_button, .ig_popup.air-mail input[type="submit"], .ig_popup.air-mail input[type="button"]{
        width: 90% !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
    .ig_popup.air-mail .ig_button, .ig_popup.air-mail input[type="submit"], .ig_popup.air-mail input[type="button"]{
        width: 90% !important;
    }
  }

  @media only screen and (min-device-width: 360px) and (max-device-width: 413px) {
    .ig_popup.air-mail .ig_button, .ig_popup.air-mail input[type="submit"], .ig_popup.air-mail input[type="button"]{
        width: 90% !important;
    }
  }

 @media only screen and (min-device-width: 414px) and (max-device-width: 643px) {
    .ig_popup.air-mail .ig_button, .ig_popup.air-mail input[type="submit"], .ig_popup.air-mail input[type="button"]{
        width: 90% !important;
    }
  }
