.popup.compel.ig_container {
    background: hsl(0, 0%, 100%);
    position: relative;
    color: hsl(0, 100%, 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    padding: 1.5em 0 1em 0;
}

.popup.compel .ig_headline {
    color: hsl(204, 70%, 53%);
    font-size: 2em;
    text-shadow: 0 1px 0 hsl(204, 79%, 36%);
    margin-bottom: 0.5em;
    text-align: center;
}

.popup.compel .ig_image {
    float: left;
    padding-right: 1em;
}

.popup.compel .ig_message {
    color: hsl(0, 0%, 44%);
    font-size: 1.25em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    margin-bottom: .5em;
}

.popup.compel .ig_close {
    background: url(../images/chosen-sprite.png) no-repeat -43px 0;
    height: 10px;
    width: 10px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    zoom: 1.5;
}

.popup.compel .ig_button, 
.popup.compel input[type="submit"], 
.popup.compel input[type="button"] {
    background: hsl(6, 78%, 57%) !important;
    width: 50% !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 3px solid hsl(6, 63%, 46%) !important;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    padding: 16px 0 13px;
}

.popup.compel .ig_button:hover, 
.popup.compel input[type="submit"]:hover, 
.popup.compel input[type="button"]:hover {
    margin-top: -3px;
    border-bottom: 6px solid #c0392b !important;
}
.popup.compel .ig_button:active,
div.popup.compel input[type="submit"]:active,
div.popup.compel input[type="button"]:active{
    border-top: none;
}


.popup.compel #TB_ajaxContent {
}

.popup.compel#TB_window {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 4px dashed #c0392b;
}