.ig_popup.compel .ig_container {
    background: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 44%);
    border: 4px dashed #c0392b;
}

.ig_popup.compel .ig_headline {
    padding: .5em;
    /*color: hsl(204, 70%, 53%);*/
    font-size: 2em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    margin-bottom: 0.2em;
    text-align: center;
}

.ig_popup.compel .ig_image {
    float: left;
    padding-right: 1em;
}

.ig_popup.compel .ig_message {
    padding: 0 1.25em;
    font-size: 1.25em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    margin: 0 .5em .5em .5em;
}

.ig_popup.compel .ig_close {
    background: url(../images/chosen-sprite.png) no-repeat -43px 0;
    height: 10px;
    width: 10px;
    cursor: pointer;
    zoom: 1.5;  
    margin: 0;
    top:7px;
    right: 7px;
}
.ig_popup.compel .ig_close:hover {
    background: url(../images/chosen-sprite.png) no-repeat -43px -11px;
    height: 10px;
    width: 10px;
    top:7px;
    right: 7px;
}

.ig_popup.compel .ig_button, 
.ig_popup.compel input[type="submit"], 
.ig_popup.compel input[type="button"] {
    background-color: hsl(6, 78%, 57%);
    color: hsl(0, 0%, 100%);
    width: 50% !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 3px solid hsl(6, 63%, 46%);
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em .15em .85em;

}

.ig_popup.compel .ig_button:hover, 
.ig_popup.compel input[type="submit"]:hover, 
.ig_popup.compel input[type="button"]:hover {
    margin-top: -3px;
    margin-bottom: 1em;
    border-bottom: 6px solid #c0392b;
}
.ig_popup.compel .ig_button:active,
div.ig_popup.compel input[type="submit"]:active,
div.ig_popup.compel input[type="button"]:active{
    border-top: none;
    margin: 0 auto;
    margin-bottom: 1em;
}

@media only screen and (max-device-width: 319px) {
    .ig_popup.compel .ig_button, .ig_popup.compel input[type="submit"], .ig_popup.compel input[type="button"]{
        width: 90% !important;
        padding: 16px 4px 13px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
    .ig_popup.compel .ig_button, .ig_popup.compel input[type="submit"], .ig_popup.compel input[type="button"]{
        width: 90% !important;
        padding: 16px 4px 13px;
    }
  }

  @media only screen and (min-device-width: 360px) and (max-device-width: 413px) {
    .ig_popup.compel .ig_button, .ig_popup.compel input[type="submit"], .ig_popup.compel input[type="button"]{
        width: 90% !important;
        padding: 16px 4px 13px;
    }
      
  }

 @media only screen and (min-device-width: 414px) and (max-device-width: 643px) {
    .ig_popup.compel .ig_button, .ig_popup.compel input[type="submit"], .ig_popup.compel input[type="button"]{
        width: 90% !important;
        padding: 16px 4px 13px;
    }
  }