.popup.convert.ig_container {
    padding: 1em;
}

.popup.convert .ig_headline {
    font-size: 2.5em;
    color: hsl(0, 1%, 28%);
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 1em;
}

.popup.convert .ig_image {
    float: right;
}

.popup.convert .ig_message {
    font-size: 1.5em;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: hsl(0, 1%, 28%);
    vertical-align: baseline;
}

.popup.convert .ig_close {
    top: -15px;
    right: -15px;
}

.popup.convert .ig_button, 
.popup.convert input[type="submit"], 
.popup.convert input[type="button"] {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    background-color: hsl(0, 94%, 41%) !important;
    background: hsl(0, 94%, 41%) !important; 
    font-size: 1.75em;
    color: hsl(0, 33%, 98%);
    border: .3em solid hsl(0, 6%, 71%) !important;
    width: 50%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-align: center;
    line-height: 1.5em;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0.1em auto;
    padding: 0.1em 2em;
    clear: both;
}

.popup.convert .ig_button, 
.popup.convertinput[type="submit"]:active,
.popup.convert input[type="button"]:active{
    border-top: .3em solid hsl(0, 6%, 71%) !important;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;

}

.popup.convert #TB_ajaxContent {
}

.popup.convert#TB_window {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: hsl(58, 100%, 90%);
}