.balance.ig_container {
	border: 1px solid #777;
	color: rgba(20, 20, 20, 1);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	background-color: rgba(204, 204, 204, 0.75) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, 0.75)), to(rgba(240, 240, 240, 1)), color-stop(0.4, rgba(139, 139, 139, 0.5))) !important;
	-webkit-font-smoothing: antialiased;
}
.balance .ig_content {
	background: transparent !important;
}

.balance .ig_headline {
	color: hsla(0, 0%, 8%, 1);
	text-shadow: 0 1px 0 hsla(0, 100%, 100%, 0.7);
	border-bottom: 1px solid #777;
	width: 100%;
}

.balance .ig_message {
	color: hsla(0, 0%, 8%, 1);
	text-shadow: 0 1px 0 hsla(0, 100%, 100%, 0.7);
	margin-top: 5px;
}