.toast.clear.ig_container {
	border: 3px solid rgba(0, 0, 0, 0.4);
	-moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    background: #fff !important;
}

.toast.clear .ig_content {
	background-color: transparent !important;
}

.toast.clear .ig_headline {
	color: #222;
	letter-spacing: 0.7pt;
	line-height: 16px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.toast.clear .ig_icon {
	
}

.toast.clear .ig_message {
	text-align: left;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
	color: #444;
	line-height: 15px;
}