.campaign_target_rules_panel .options_group {
	border-bottom: 1px dashed #D3D3D3;
}

.campaign_target_rules_panel .options_group:last-child {
	border-bottom-style: none;
}

.campaign_target_rules_panel .options_group .form-field .options_header {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.campaign_target_rules_panel .options_group p label input[type=checkbox], .campaign_target_rules_panel .options_group p label input[type=radio] {
	width: 0;
}

.campaign_target_rules_panel .options_group p label input[type=date] {
	width: auto;
	margin-left: 10px;
}

.user_roles p label input[type=checkbox], .user_roles p label input[type=radio] {
	margin-left: 3px;
}

.campaign_target_rules_panel .options_group .form-field #icegram_messages {
	width: 300px;
	text-align: center;
}

.empty_campaign {
	margin: 1em;
	font-style: italic;
}

.hndle em {
	font-weight: normal;
	font-size: 85%;
	margin-left: 1em;
	color: #777;
}

h3 .chosen-container {
	font-weight: 500;
}

.thickbox_edit_message {
	padding: 0 1em;
	border-bottom: 1px solid #D3D3D3;
}

.messages-list-sortable {
	margin-top: 30px;
}

.messages_list_table {
	font-size: 1em;
	width: 100%;
	border-collapse: separate;
	border-spacing: 3px;
}

th.message_header {
	text-align: center !important;
}

.message_title {
	text-align: left;
}

.message_headline {
	text-align: left;
	padding-left: 1.2em;
}

.message_seconds, .action_links {
	width: 75px !important;
	text-align: center;
}

.message_seconds input {
	text-align: right;
}

.message-row .seconds-text {
	width: 40px !important;
	text-align: center;
}

.message-sort-placeholder {
	background-color: #D3D3D3;
}

.device {
	width: auto;
	line-height: 5em;
	vertical-align: baseline;
}

.device:after {
	font-family: dashicons;
	font-size: 3em;
}

.device input {
	position: relative;
	left: 2.5em;
	top: 1.5em;
}

.admin_field_icon {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	width: 18px;
	height: 18px;
	font: 400 18px/1 dashicons;
	color: #888;
	vertical-align: text-top;
	margin: 0 2px;
}

.campaign_preview {
	float: right;
	margin-right: 1em !important;
}

.shortcode_description:before {
	content: "\f348";
}

.shortcode_description.light{
	content: "\f348";
	color: #777;
}

.campaign_shortcode {
	display: block;
	width: 45%;
	color:#777;
}

.campaign_shortcode.light {
	margin-left: 50%;
	border: 1px dashed #cccccc;
	padding-left: 0.6%;
	padding-right: 0.2%;
	position: absolute;
	margin-top: -1.5em;
}

.campaign_shortcode.light code{
	color: #777;
	
}

label[for=device_mobile] {
	margin-left: -2em;
}

label[for=device_mobile]:after {
	content: "\f470";
}

label[for=device_tablet]:after {
	content: "\f471";
}

label[for=device_laptop]:after {
	content: "\f472";
}

.date_picker:after {
	font-family: dashicons;
	content: "\f145";
	position: relative;
	top: 5px;
	font: normal 20px/1 dashicons;
	vertical-align: top;
}

.date_picker {
	margin-left: 1em;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

.date-picker {
	max-width: 15%;
}

.campaign_target_rules_panel .options_group .messages-list .form-field .message_header {
	width: 75px !important;
	text-align: right;
}

.disable {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.enable {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.message_edit:after {
	content: "\f464";
}

.message_delete:after {
	content: "\f158";
}

.actions:after {
	font-family: dashicons;
	font-size: 1.4em;
}

.actions {
	text-decoration: none;
	color: #444;
	padding-right: 3px;
	cursor: pointer;
}

.actions:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.action_links {
	vertical-align: middle;
}

.message_header_label {
	color: #fff;
	text-align: center;
	font-size: 0.7em !important;
	margin: 0 !important;
	padding: 3px 5px;
	cursor: auto;
	text-transform: uppercase;
}

.message_label {
	float: left;
	width: 25%;
	padding: 0;
}

.message_field {
	width: 65%;
	display: inline-block;
}

.message_image_button .image-buttons-icon{
	margin: 4px 2px;
}
.message_image_button .image-buttons-icon:before {
	content: "\f128";
}

.message_headline_button, .message_image_button {
	vertical-align: top !important;
}
.message_headline_button .headline-buttons-icon {
	margin: 5px 2px;
}

.message_headline_button .headline-buttons-icon:before {
	content: "\f130";
}

.help_tip:after {
	content: "\f223";
}

.help_tip {
	float: right;
	margin: 4px 0;
	cursor: help;
	text-decoration: none;
}

.chosen-container {
	width: 65% !important;
}

.message_row.position {
	height: 110px;
}
.location-selector input[type=radio]:checked + label span {
	background-color: #2ea2cc;
}

.location-selector {
	width: 128px;
	height: 115px;
	position: absolute;
	display: block;
	margin-left: 24.3%;
	background-image: url(../images/desktop.png);
	background-position: 0 -19px;
}

.location-selector .location {
	background-color: #ddd;
	cursor: pointer;
	position: absolute;
}

.location-selector .location:hover {
	background-color: #ccc;
}

.location-selector .location.top, .location-selector .location.bottom, .location-selector .location.middle {
	height: 14%;
	width: 14%;
	right: 42%;
}

.location-selector .location.top {
	top: 13px;
}

.location-selector .location.middle {
	top: 30%;
}

.location-selector .location.bottom {
	bottom: 43px;
}

.location-selector .location.right, .location-selector .location.left {
	height: 14%;
	width: 14%;
	margin-left: 0;
	margin-right: 0;
}

.location-selector .location.right {
	right: 15px;
}

.location-selector .location.left {
	left: 15px;
}

.wp-editor-container {
	margin-left: 25%;
}

.message-setting-fields #upload_image, .message-setting-fields #message_title {
	width: 58%;
}

.wp-editor-container span .mceLayout {
	width: 50%;
}

#ui-datepicker-div,
#wp-admin-bar-view,
#edit-slug-box,
.empty_campaign,
.location-selector input[type=radio] {
	display: none;
}

#the-list .message_thumbnail img {
	max-width: 200px;
	max-height: 100px;
}

#icegram_messages + .chosen-container-single .chosen-search input[type=text] {
	width: 100% !important;
}
.message_theme + .chosen-container.chosen-container .chosen-results {
	max-height: 30em !important;
}

.message_theme + .chosen-container-single .chosen-single span {
	background-repeat: no-repeat !important;
	background-position: 100% 50% !important;
} 

.message_theme + .chosen-container .chosen-results li {								
	margin: 0% 0% 2% 2%;
	background-position: 0.5em 2em !important;
	-webkit-background-size: 95% !important;
	background-size: 95% !important;
	border: 2px solid #EEE !important;
	font-weight: 700 !important;
	display: inline-block !important;
	text-align: center !important;
	background-repeat: no-repeat !important;
}

.message_theme + .chosen-container .chosen-results li.highlighted {
	color: #000 !important;
	border: 2px solid #2ea2cc !important;
	background-color: #EAEFFF !important;
}

/************* jQuery TipTip ************/
#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}
#tiptip_holder.tip_top {
    padding-bottom: 5px;
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top: -7px;
    margin-left: -6px;
    border-top-color: #464646;
}
#tiptip_holder.tip_bottom {
    padding-top: 5px;
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top: -5px;
    margin-left: -6px;
    border-bottom-color: #464646;
}
#tiptip_holder.tip_right {
    padding-left: 5px;
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -5px;
    border-right-color: #464646;
}
#tiptip_holder.tip_left {
    padding-right: 5px;
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -7px;
    border-left-color: #464646;
}
#tiptip_content, .chart-tooltip {
    font-size: 11px;
    color: #fff;
    padding: .5em;
    background: #464646;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    text-align: center;
    max-width: 150px;
}
#tiptip_content code, .chart-tooltip code {
    background: #888;
    padding: 1px;
}
#tiptip_arrow, #tiptip_arrow_inner {
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    height: 0;
    width: 0;
}
/************* jQuery TipTip ************/
/**
Support
**/
table#icegram_post_query_table {
    padding: 5px;
}
table#icegram_post_query_table tr td {
    padding: 5px;
}
input.sm_text_field {
    padding: 5px;
}
#icegram_post_query_table label {
    font-weight: bold;
}

/**
CSS for landing page and Help and Support
**/
.icegram-dashicons:before {
    font-family: dashicons;
	position: relative;
	font-family: dashicons;
    font-style: normal;
	vertical-align: middle;
    font-size: 2em;
}

.about-wrap.icegram h2{
    color: #3754a8;
}

.about-wrap.icegram h2{
    padding-top: 19px;
    font-weight: 600;
}

.icegram-dashicons-testimonial h4{
    font-size: 1.5em;
}

.icegram-badge {
	background: #3754a8 url(../images/icegram-logo-branding-64-white.png) no-repeat;
	background-position: center 24px;
	color: #FFF;
	font-size: 12px;
	text-align: center;
	font-weight: 600;
	margin: 5px 0 0;
	padding-top: 120px;
	height: 24px;
	display: inline-block;
	width: 150px;
	text-rendering: optimizeLegibility;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}


.about-wrap .icegram-badge {
	position: absolute;
	top: 0;
	right: 0;
}
.icegram-support{
    font-size: 14px;
    color: black;
    margin: 15px 0 0;
    height: 10px;
    width: 180px;
    text-align: center;
    text-rendering: optimizeLegibility;
    /*-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.2);*/
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 178px;
    text-align: right;
}
.icegram-contact-us{
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 800;
    margin-right: 18px;
}  

.icegram-contact-us a{
    color: #3754a8;
}  

/* Addons Page*/
.ig_addons_wrap .addons {
    overflow: hidden;
}
.ig_addons_wrap .addons li {
    float: left;
    margin: 0 1em 1em 0!important;
    padding: 0;
    vertical-align: top;
    width: 300px;
}
.ig_addons_wrap .addons li a {
    text-decoration: none;
    color: inherit;
    border: 1px solid #ddd;
    display: block;
    min-height: 220px;
    overflow: hidden;
    background: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(0, 0, 0, .1);
}
.ig_addons_wrap .addons li a img {
	max-width: 100px;
	max-height: 100px;
	margin-right: -15px;
	padding: 0 0 5px 5px;
	float: right;
}
.ig_addons_wrap .addons li a h3 {
    margin: 0!important;
    padding: 20px!important;
    background: #fff;
}
.ig_addons_wrap .addons li a p {
    padding: 20px!important;
    margin: 0!important;
    border-top: 1px solid #f1f1f1;
}
.ig_addons_wrap .addons li a:focus, .ig_addons_wrap .addons li a:hover {
    background-color: #fff;
}
.ig_addons_wrap .addons li .ig_addon_category {
	margin-top: -3.5em;
	float: right;
	text-transform: capitalize;
	font-style: normal;
	margin-right: 1em;
	font-size: 80%;
}
.ig_addons_wrap .addons li .ig_addon_category span {
	margin-left: 1.2em;
	padding: 2px 3px;
	background-color: #DEDEDE;
	border-radius: .3em;
}
.ig_addons_wrap .addons li .ig_addon_category span.free {
	background-color: #C3D3FF;
	color: #3754a8;
}

.ig_addons_special_message {
	font-size: 60%;
	line-height: 60%;
	margin-left: 3em;
	padding: 3px 10px;
	background-color: #FCF0AD;
	border: 1px solid #CCC;
}

#embed_form {
	width: 600px !important;
	height: 495px !important;
	margin: 0em !important; 
}

#embed_form input[value="ig_vertical"]{
	margin-left: 3%;
}
#embed_form select{
	width:30%;
}

/** Fix to keep the message setting row indepenent of other themes **/ 
.campaign_target_rules_panel .messages_list_table p.inline{
	display: block;
	margin: 1em 0;
}

.campaign_target_rules_panel .form-field .delete-url:before{
	font-family: dashicons;
	content: "\f182";
	cursor: pointer;
}
.campaign_target_rules_panel .form-field .url_input_field{
	width:65% !important;
}


.campaign_target_rules_panel #valid-field{
	margin-left: 92%;
}

.campaign_target_rules_panel #valid-field.error{
	font-family: dashicons;
	font-size: 1.5em;
	color: #ff0000;
	vertical-align: middle;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	cursor: help;
}

.campaign_target_rules_panel #valid-field.error:after{
	content: "\f223";
}

.campaign_target_rules_panel #add-url-icon:after{
	font-family: dashicons;
	content: "\f132";
	vertical-align: middle;
}

