/* Powered By link */
.powered_by, .powered_by a, a.powered_by {
	color: #A8A8A8 !important;
	text-decoration: none;
}

/* Forms */
div.icegram form {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.icegram input, div.icegram label {
	margin: .2em .2em .2em .5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: middle !important;
}
/*
div.icegram input[type="submit"], div.icegram input[type="button"], div.icegram input[type="button"]  {
    font-size: 100%;
}
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .bold .content, .solid .content {
        width: 80%;
        display: inline-block;;
    }
    .canvas.popup_box {
        max-width: 90%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    .bold .content, .solid .content {
        width: 85%;
        display: inline-block;;
    }
    .canvas.popup_box {
        max-width: 70%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    .bold .content, .solid .content {
        width: 80%;
        display: inline-block;;
    }
    .canvas.popup_box {
        max-width: 90%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .bold .content, .solid .content {
        width: 80%;
        display: inline-block;;
    }
    .canvas.popup_box {
        max-width: 40%;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .bold .content, .solid .content {
        width: 80%;
        display: inline-block;;
    }
    .canvas.popup_box {
        max-width: 40%;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .bold .content, .solid .content {
        width: 80%;
        display: inline-block;;
    }
    .canvas.popup_box {
        max-width: 40%;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    .bold .content, .solid .content {
        width: 95%;
        display: inline-block;;
    }
    .canvas.popup_box {
        max-width: 45%;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    .bold .content, .solid .content {
        width: 95%;
        display: inline-block;;
    }
    .canvas.popup_box {
        max-width: 45%;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    .bold-bar .con, .solid .content {
        width: 80%;
        display: inline-block;;
    }
        .canvas.popup_box {
        max-width: 90%;
    }
}