.clear.popup_box {
    width: 250px;
    height: 260px;
    font-family: arial, sans-serif;
    display: block;
    position: fixed;
    cursor: pointer;
    background: transparent !important;
    overflow: hidden;
    border: 0 solid #BFBFBF;
    z-index: 100000;
    text-align: left;
    margin: 0;
    padding: 0;
}

.clear .popup_box_header {
    height: 31px;
    position: relative;
    -moz-box-shadow: inset 0 0 3px 0 #FFF;
    -webkit-box-shadow: inset 0 0 3px 0 #FFF;
    box-shadow: inset 0 0 3px 0 #FFF;
    background: #F9F9F9;
    border: 1px solid #BFBFBF;
    overflow: hidden;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    display: block;
    color: #333;
    font-family: arial, sans-serif;
    line-height: 20px !important;
    padding: 0 4px 0 5px;
}

.clear .popup_box_header_image {
    background: no-repeat url(../../images/clear-header.png) 0 -181px;
    position: relative;
    display: inline-block;
    height: 13px;
    width: 35px;
    margin-left: 206px;
    margin-top: 9px;
    line-height: 20px !important;
    padding: 0;
}

.clear .popup_box_header2_image {
    background-image: url(../../images/clear-option.png);
    height: 31px;
    position: relative;
    display: block;
    border: 1px solid #BFBFBF;
    border-bottom: none;
    border-top: none;
}

.clear .popup_box_header_text {
    background: no-repeat url(../../images/clear-header.png) 0 0;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 13px;
    height: 15px;
    overflow: hidden;
    text-decoration: none;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    display: block;
    z-index: 100000;
    margin-top: -19px;
    margin-left: 3px;
    line-height: 16px;
}

.clear .popup_box_heading {
    margin-left: 20px;
    margin-right: 55px;
    display: inline-block;
    width: 161px;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 13px;
    height: 16px;
    overflow: hidden;
    text-decoration: none;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clear .popup_box_body {
    display: block;
    background: #fff;
    z-index: 100000;
    height: 152px;
    -moz-box-shadow: inset 0 0 3px 0 #FFF;
    -webkit-box-shadow: inset 0 0 3px 0 #FFF;
    box-shadow: inset 0 0 3px 0 #FFF;
    border: 1px solid #BFBFBF;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 13px;
    overflow-x: hidden;
    line-height: 15px;
    border-bottom: none;
    padding: 6px 6px 0;
}

.clear .popup_box_message {
    color: #3E454C;
    line-height: 1.28;
    text-align: left;
    word-wrap: break-word;
    width: 180px;
    display: inline-block;
}

.clear .no-image.popup_box_message {
    width: 97%;
}

.clear .popup_icon {
    height: 32px;
    width: 32px;
    vertical-align: top;
    border-radius: 2px;
}

.clear .popup_box_footer {
    background-image: url(../../images/clear-footer.png);
    position: relative;
    display: block;
    height: 36px;
    z-index: 100000;
    border: 1px solid #BFBFBF;
    border-top: none;
    padding: 0 12px;
    -webkit-background-size: 96%;
    background-size: 96%;
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    background-position: 5px 5px;
}

.clear .popup_box_footer_image {
    position: relative;
    display: block;
}

.clear .popup_box_close {
    position: absolute;
    cursor: pointer;
    z-index: 100000;
    background: no-repeat url(../../images/clear-header.png) 0 -195px;
    right: 5px;
    top: 10px;
    margin-right: -5px;
    width: 21px;
    display: inline-block;
    height: 13px;
    vertical-align: top;
}

.clear .popup_box_hr {
    border-bottom: 1px solid hsl(0, 0%, 98%);
    color: transparent;
    background: transparent;
    border: none;
    border-top: 1px solid #DFDFDF;
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -moz-margin-start: auto;
    -webkit-margin-start: auto;
    margin-start: auto;
    -moz-margin-end: auto;
    -webkit-margin-end: auto;
    margin-end: auto;
    -moz-margin-before: 0.5em;
    -moz-margin-after: 0.5em;
    font-size: 13px;
    line-height: 15px;
    margin: 1px 0 2px;
}

.clear .powered_by {
    top: -20px;
    left: 120px;
}