.talk.popup_box {
    width: 210px;
    height: 260px;
    font-family: arial, sans-serif;
    display: block;
    position: fixed;
    cursor: pointer;
    background: transparent !important;
    overflow: hidden;
    border: 0 solid #BFBFBF;
    z-index: 100000;
    text-align: left;
    margin: 0;
    padding: 0;
}

.talk .popup_box_header {
    height: 25px;
    position: relative;
    -moz-box-shadow: inset 0 0 3px 0 #FFF;
    -webkit-box-shadow: inset 0 0 3px 0 #FFF;
    box-shadow: inset 0 0 3px 0 #FFF;
    background: #F5FAFF;
    border: 1px solid #BFBFBF;
    overflow: hidden;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
    display: block;
    color: #00008B;
    font-family: arial, sans-serif;
    font-weight: 700 !important;
    line-height: 20px !important;
    padding: 0;
}

.talk .popup_box_header_image {
    background-image: url(../../images/talk-header-1.png);
    margin-top: 4px;
    position: relative;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 173px;
    line-height: 20px !important;
    padding: 0;
}

.talk .popup_box_header2_image {
    background-image: url(../../images/talk-header-2.png);
    height: 30px;
    position: relative;
    display: block;
    border: 1px solid #BFBFBF;
    border-bottom: none;
    border-top: none;
}

.talk .popup_box_header_text {
    background: no-repeat url(../../images/clear-header.png) 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 12px;
    height: 18px;
    overflow: hidden;
    text-decoration: none;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    display: block;
    z-index: 100000;
    margin-top: -19px;
    line-height: 16px;
    margin-left: 10px;
}

.talk .popup_box_heading {
    margin-left: 17px;
    overflow: hidden;
    margin-right: 40px;
    line-height: 16px;
    width: 141px;
    display: inline-block;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.talk .popup_box_body {
    display: block;
    background: #fff;
    z-index: 100000;
    height: 160px;
    -moz-box-shadow: inset 0 0 3px 0 #FFF;
    -webkit-box-shadow: inset 0 0 3px 0 #FFF;
    box-shadow: inset 0 0 3px 0 #FFF;
    border: 1px solid #BFBFBF;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 12px;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    line-height: 15px;
    border-bottom: none;
    padding: 6px 6px 0;
}

.talk .popup_box_message{
    color: #3E454C;
    text-align: left;
    word-wrap: break-word;
    width: 142px;
    display: inline-block;
    margin-left: 2px;
}

.talk .no-image.popup_box_message {
    width: 98%;
}

.talk .popup_icon {
    height: 32px;
    width: 32px;
    vertical-align: top;
}

.talk .popup_box_footer {
    background-image: url(../../images/talk-footer-1.png);
    position: relative;
    display: block;
    height: 37px;
    z-index: 100000;
    border: 1px solid #BFBFBF;
    border-bottom: none;
}

.talk .popup_box_footer_image {
    position: relative;
    display: block;
    margin-top: .8px;
}

.talk .popup_box_close {
    position: absolute;
    cursor: pointer;
    z-index: 100000;
    background-image: url(../../images/talk-close.png);
    background-repeat: no-repeat;
    right: -4px;
    top: 4.5px;
    margin-right: 3px;
    width: 21px;
    display: inline-block;
    height: 25px;
    vertical-align: top;
}

.talk .popup_box_hr {
    border-bottom: 1px solid hsl(0, 0%, 98%);
    color: transparent;
    background: transparent;
    border: none;
    border-top: 1px solid #DFDFDF;
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -moz-margin-start: auto;
    -webkit-margin-start: auto;
    margin-start: auto;
    -moz-margin-end: auto;
    -webkit-margin-end: auto;
    margin-end: auto;
    -moz-margin-before: 0.5em;
    -moz-margin-after: 0.5em;
    font-size: 13px;
    line-height: 15px;
    margin: 1px 0 2px;
}

.talk .powered_by {
    top: -25px;
    left: 92px;
}