.bold.container {
    left: 0;
    width: 100%;
    z-index: 100000;
    display: none;
    padding: 0;
    margin: 0;
}

.bold.container.top {
    border-bottom: solid 3px #f3eeee;
    -moz-box-shadow: 0 -6px 16px 7px #000;
    -webkit-box-shadow: 0 -6px 16px 7px #000;
    box-shadow: 0 -6px 16px 7px #000;
}

.bold.container.bottom {
    border-top: solid 3px #f3eeee;
    -moz-box-shadow: 0 8px 23px 7px #000;
    -webkit-box-shadow: 0 8px 23px 7px #000;
    box-shadow: 0 8px 23px 7px #000;
}

.bold .heading {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.2em;
    padding: 0 10px;
}

.bold .popup_box_image {
    display: inline-block;
    vertical-align: top;
}

.bold img.icon {
    width: 50px;
}

.bold .message {
    line-height: 1.2em;
    padding: 5px 10px;
}

.bold .content {
    color: #FFF;
    padding: 1em 0 0 1em;
}

.bold .data {
    max-width: 75%;
    display: inline-block;
}

.bold .popup_button, .bold input[type="submit"], .bold input[type="button"] {
    cursor: pointer;
    background: hsl(145, 82%, 30%);
    color: hsl(0, 100%, 100%);
    display: inline-block;
    font-size: 1em;
    letter-spacing: 1px;
    vertical-align: text-bottom;
    font-weight: 700;
    text-align: center;
    -moz-box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.45), 0 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.45), 0 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.45), 0 2px 2px rgba(0, 0, 0, 0.25);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    padding: .7em 2em;
}

.bold .popup_button:active, .bold input[type="submit"]:active, .bold input[type="button"]:active {
    position: relative;
    top: 3px;
    -moz-box-shadow: inset 0 -3px 1px #2ECC70, inset 0 0 3px #2ECC70;
    -webkit-box-shadow: inset 0 -3px 1px #2ECC70, inset 0 0 3px #2ECC70;
    box-shadow: inset 0 -3px 1px #2ECC70, inset 0 0 3px #2ECC70;
}

.bold .popup_close.border {
    border: 3px solid #fff;
    -moz-box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.35);
    -webkit-box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.35);
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.35);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.bold.top .popup_close.border, .bold.bottom .popup_close {
    border-width: 0 3px 3px 3px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.bold.bottom .popup_close.border, .bold.top .popup_close {
    border-width: 3px 3px 0 3px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: .8em .4em;
}