.hello.container {
    left: 0;
    line-height: 1.5em;
    overflow: visible;
    width: 100%;
    z-index: 100000;
    display: none;
    padding: 0;
    margin: 0;
}

.hello.container.top {
    border-bottom: 3px solid #fff;
    -moz-box-shadow: 0 -6px 16px 7px #000;
    -webkit-box-shadow: 0 -6px 16px 7px #000;
    box-shadow: 0 -6px 16px 7px #000;
}

.hello.container.bottom {
    border-top: 3px solid #fff;
    -moz-box-shadow: 0 8px 23px 7px #000;
    -webkit-box-shadow: 0 8px 23px 7px #000;
    box-shadow: 0 8px 23px 7px #000;
}

.hello .heading, .hello .message {
    display: inline-block;
    margin-right: 1.5em;
}

.hello .heading {
    font-weight: bold;  
}

.hello .icon {
    width: 32px;
    height: 32px;
}

.hello .content p {
    margin: 0;
    line-height: 1.2em;
}

.hello .content {
    padding: .3em;
}

.hello .popup_button, .hello input[type="submit"], .hello input[type="button"] {
    display: inline;
    background: #4A4844;
    background: linear-gradient(top, #4A4844 0%, #2D2C29 100%);
    background: -moz-linear-gradient(top, #4A4844 0%, #2D2C29 100%);
    background: -o-linear-gradient(top, #4A4844 0%, #2D2C29 100%);
    background: -webkit-linear-gradient(top, #4A4844 0%, #2D2C29 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4A4844 0%), color-stop(1, #2D2C29 100%));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#4A4844 0%, EndColorStr=#2D2C29 100%)";
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.28);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.28);
    color: #FFF;
    font-weight: 400;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    margin: 4px 0 0 10px;
    padding: .25em 1em;
    vertical-align: text-bottom;
}

.hello .popup_button:hover, .hello input[type="submit"]:hover, .hello input[type="button"]:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.hello .popup_box_image {
    display: inline-block;
    vertical-align: top;
    line-height: 0;
}

.hello .data {
    /*display: inline-block;
    width: 80%;
    max-width: 80%;
    margin: 0 0 0 1em;*/
    text-align: center;
}

.hello .popup_close.border {
    border: 3px solid #fff;
    -moz-box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.35);
    -webkit-box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.35);
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.35);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.hello.top .popup_close.border, .hello.bottom .popup_close {
    border-width: 0 3px 3px 3px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}

.hello.bottom .popup_close.border, .hello.top .popup_close {
    border-width: 3px 3px 0 3px;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
    padding: .8em .4em;    
}

.hello .powered_by img {
    width: 24px;
}

.hello .powered_by {
    margin-top: 0;
    height: 32px;
}

.hello .powered_by img {
	width: 1.5em !important;
	margin-left: 1em !important;
	margin-top: .4em !important;
}