.solid.container {
    left: 0;
    width: 100%;
    z-index: 100000;
    display: none;
    padding: 0;
}

.solid .heading {
    font-size: 1.2em;
    line-height: 1em;
    padding: 0 10px;
}

.solid .popup_box_image {
    display: inline-block;
    vertical-align: top;
}

.solid img.icon {
    width: 50px;
}

.solid .message {
    line-height: 1em;
    padding: 5px 10px;
}

.solid .content {
    color: #FFF;
    padding: 1em 0 0 1em;
}

.solid .data {
    max-width: 75%;
    display: inline-block;
}

.solid .popup_button, .solid input[type="submit"], .solid input[type="button"] {
    cursor: pointer;
    background: #02612B;
    color: hsl(0, 100%, 100%);
    display: inline-block;
    font-size: 1em;
    letter-spacing: .1em;
    -moz-border-radius: 0.1em;
    -webkit-border-radius: 0.1em;
    border-radius: 0.1em;
    vertical-align: text-bottom;
    font-weight: 700;
    padding: .6em 2em;
}

.solid .popup_button:hover, .solid input[type="submit"]:hover, .solid input[type="button"]:hover {
    background-color: #25a25a;
}

.solid.top .popup_close.border, .solid.bottom .popup_close {
    border-width: 0 3px 3px 3px;
}

.solid.bottom .popup_close.border, .solid.top .popup_close {
    border-width: 3px 3px 0 3px;
    padding: .8em .4em;
}
